<div class="container">
  <div class="row">
    <div class="col">
      <h1><%= @restaurant.name %> <small><%= @restaurant.address %></small></h1>
      <h2>
        <%= pluralize @restaurant.reviews.size, "review" %>
      </h2>

      <div id="reviews" class="my-5">
        <% if @restaurant.reviews.blank? %>
          Be the first to leave a review for <%= @restaurant.name %>
        <% else %>
          <% @restaurant.reviews.each do |review| %>
            <p class="my-5" id="review-<%= review.id %>"><%= review.content %></p>
          <% end %>
        <% end %>
      </div>

      <%= simple_form_for([ @restaurant, @review ], remote: true) do |f| %>
        <%= f.input :content, as: :text %>
        <%= f.button :submit, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
